@media (max-width: 991px) {
  .last-piece .text-right{
    display: none;
  }

  .license{
    font-size: 12px;
    padding: 10px 0 12px 0;
    text-align: center;
  }
  .scrolled-menu{
    display: none;
  }

  /*.menu-global{
    background: url("../img/bg_menu.png");
    margin-bottom: 215px;
  }*/
  .menu-global{
    position: relative;
  }
  .menu-global .card-register-btn{
    display: none;
  }
  .menu-global .login-btn{
    display: none;
  }
  .menu-global .only-mobile{
  	display: inline-block;
  }

  .menu-global .search-on-menu{
    padding: 6px 12px;
    margin-right: 0;
  }
  .menu-global .search-on-menu img{
    width: 18px;
  }

  .menu-global .profile-image img{
    width: 28px;
    height: 28px;
  }

  .menu-global .login-mobile{
    padding: 6px 12px;
  }
  .menu-global .login-mobile img{
    width: 18px;
  }
  .menu-global .logged-in{
    padding: 18px 12px;
    margin-left: 0;
  }

  .menu-global .menu-mobile{
    padding: 6px 12px;
    margin-right: -12px;
  }
  .menu-global .menu-mobile img{
    width: 18px;
  }
  
  /*.menu-mobile{
    position: relative;
    top: 4px;
    padding-left: 0px;
    opacity: 0;
    pointer-events: none;
    width: 0px;
    background: url("../img/ico-menu-mobile.png");
  }
  .mini-header .menu-mobile {
    background: url("../img/ico-menu-mobile.png");
    background-size: 100%;
    opacity: 1;
    pointer-events: all;
    width: 18px;
    height: 16px;
    margin-left: 14px;
  }*/

  .menu-responsive-dropdown{
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    width: 100%;
    height: calc(100vh);
    padding: 0 25px;
    padding-top: 66px;
    padding-bottom: 150px;
    z-index: 5;
  }
  .menu-resp-scroll{
    overflow: auto;
    max-height: 100%;
  }
  div#scrolled-menu-responsive{
    opacity: 0;
    pointer-events:none;
  }
  div#scrolled-menu-responsive.active{
    opacity: 1;
    pointer-events:all;
  }
  #scrolled-menu-responsive img{
    width: 40px;
  }
  .menu-responsive-dropdown a {
    position: relative;
    display: block;
    left: 0;
    margin-top: 8px;
    opacity: 1;
  }
  .menu-responsive-dropdown ul a{
    font-family: 'Conv_SukhumvitTadmai_Tex';
    font-size: 14px;
    overflow: hidden;
    height: 0;
    margin-top: 0;
    padding-left: 55px;
  }
  .menu-responsive-dropdown ul{
    padding-bottom: 0;
  }
  .menu-responsive-dropdown .active + ul{
    padding-bottom: 25px;
    margin-top: -14px;
  }
  .menu-responsive-dropdown .active + ul a{
    height: 17px;
    margin-top: 20px;
    line-height: 21px;
  }
  .menu-responsive-dropdown h3{
    font-family: 'Conv_SukhumvitTadmai_Bol';
    font-size: 16px;
    display: inline-block;
    position: absolute;
    top: 18px;
    padding-left: 15px;
    width: 88vw;
  }
  .menu-responsive-dropdown .menu-responsive{
    position: relative;
    border-bottom: 0.5px solid #535353;
    padding: 5px 0;
  }

  .menu-responsive-dropdown h3.menu-more:after{
    content: "+";
    position: absolute;
    top: -3px;
    font-family: 'Gotham-Book';
    right: 0;
    font-size: 24px;
  }
  .menu-responsive-dropdown h3.menu-more:after{
    transform: rotate(0);
    right: 0;
    top: -3px;
  }
  .menu-responsive-dropdown h3.menu-more.active:after{
  	transform: rotate(-45deg);
    right: -1px;
  }

  .menu-responsive-dropdown .menu-btn{
    position: absolute;
    bottom: 0;
  }
  .menu-responsive-dropdown .menu-lang{
    position: relative;
  }
  .menu-responsive-dropdown .lang-header-menu{
    border-top: 0.5px solid #535353;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
  }
  .menu-responsive-dropdown .lang-header-menu img{
    padding: 5px;
  }
  .menu-responsive-dropdown .lang-header-menu label{
    display: inline-block;
    position: absolute;
    font-family: 'Gotham-Bold';
    font-size: 16px;
    top: 23px;
    left: 56px;
  }
  .menu-responsive-dropdown .lang-header-menu select{
    float: right;
    background-color: transparent;
    color: #707070;
    font-family: 'Gotham-Bold';
    border-radius: 4px;
    border-color: #707070;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    padding: 5px;
    margin-top: 7px;
  }
  .menu-responsive-dropdown .menu-btn button{
    font-family: 'Conv_SukhumvitTadmai_Bol';
    font-size: 18px;
    margin: 12px 0;
    background: #CF3339;
    border: none;
    border-radius: 3px;
    color: #fff;
    width: 94vw;
    height: 45px;
  }
  #ktc-logo{
    position: relative;
    z-index: 6;
  }
  .menu-resp-close{
    top: 7px;
    right: 20px;
    position: absolute;
    color: #fff;
    font-size: 40px;
    opacity: 1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
  }

  .index-slide2 .owl-nav button.owl-prev{
    top: 13.5vw;
  }
  .index-slide2 .owl-nav button.owl-next {
    top: 13.5vw;
  }
  .open-on-top h4{
    margin-top: 30px;
  }
  .open-on-top h4.title-mobile{
    letter-spacing: 0.5px;
    margin-bottom: 8px;
    line-height: 36px;
  }
  .icon-wrap {
    padding: 30px 0 0 0;
  }
  .icon-wrap p {
    line-height: 18px;
  }
  .big-link img {
    margin-bottom: 0px;
  }
  .only-desktop {
    display: none;
  }
  .only-mobile{
    display: block;
  }
  .menu-global .another-sub .content-wrap > * {
    flex: 0 100%;
  }
  
  /*.index-head {
    padding-bottom: 4px;
  }*/

  .another-sub span{
    display: none;
  }
  .another-sub a:after{
  	background: none;
  }
  .text-on-slide p {
    font-size: 28px;
  }
  .item .slide-title{
    padding-top: 20px;
    font-size: 18px;
  }
  .item .slide-content{
    padding-top: 5px;
    font-size: 14px;
  }

  .slide-wrap:before,
  .slide-wrap:after{
    display: none;
  }
  /*.owl-item {
    opacity: 0;
  }*/

  .to-top:hover{
    cursor: pointer;
    bottom: 30px;
  }

  .chat:hover{
    cursor: pointer;
    bottom: 57px;
  }

  .input-search{
    width: calc(100% - 33px);
    margin-right: 0;
    font-size: 14px;
  }

  .button-search{
    position: fixed;
    left: 20px;
    right: 20px;
    width: calc(100% - 40px);
    display: block;
    bottom: 20px;
    background: #cf3339;
    color: #fff;
    height: 45px;
  }

  .search-cat-wrap label,
  .search-cat-wrap > label:nth-child(2){
    padding: 12px 5px;
  }

  .modal-header{
    position: relative;
    z-index: 3;
    padding-left: 20px;
    padding-right: 20px;
  }

  .modal-body{
    padding-left: 20px;
    padding-right: 20px;
  }

  #search-modal .modal-body{
    padding-bottom: 70px;
    padding-top: 8px;
    flex: none;
    display: block;
    height: calc(100vh - 130px);
    overflow: auto;
    position: relative;
    z-index: 2;
  }


  .search-wrap{
    margin-top: 50px;
    padding-bottom: 200px;
  }

  .search-input-wrap{
    width: calc(100% - 33px);
  }

  .subcat-wrap{
    text-align: left;
    vertical-align: top;
  }

  .search-cat-wrap label{
    padding: 12px 25px;
    line-height: 12px;
    font-size: 12px;
    width: 33%;
    vertical-align: top;
  }

  .search-cat-wrap > label:nth-child(2){
    width: 110px;
    text-align: left;
  }

  .search-cat-head{
    padding-right: 0;
    margin-top: 24px;
    padding-bottom: 0px;
  }
  .search-cat-wrap{
    margin-top: 20px;
  }
  .search-slide .owl-nav{
    top: calc(10vw - 12px);
  }
  .ktc-tabs li a{
    padding: 0 4vw;
  }
  .search-cat-wrap label:hover{
    opacity: 1;
  }

  .search-wrap .btn-wrap{
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
  }

  .menu-global .on-right .login-btn.logged-in{
    display: inline-block;
  }

  .login-btn.logged-in ul{
    width: 100%;
    left: 0;
    right: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    padding-top: 75px;
  }

  .active .for-sub-profile-mobile {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 75px;
      border-bottom: 1px solid #fff;
      opacity: 1;
      pointer-events: all;
      display: block;
      text-align: left;
      background: #000;
      z-index: 7;
  }

  .for-sub-profile-mobile .profile-image{
    width: 47px;
    height: 47px;
    margin: 15px 20px;
  }

  .on-right .for-sub-profile-mobile .profile-image img{
    width: 100%;
    height: 100%;
  }

  .for-sub-profile-mobile button.close{
    top: 7px;
    right: 20px;
    position: absolute;
    color: #fff;
    font-size: 40px;
    opacity: 1;
  }

  .big-link > div{
    height: 153px;
  }

  /*.menu-global{
    background-position: left -30px top;
  }*/

  .footer-menu > .col-lg-3 {
      width: 40%;
      flex: none;
  }

  /*Static Content*/
  .static-wrap .static-content{
    padding: 40px 100px;
    position: relative;
    margin: 0;
  }

  .static-wrap .overlap-wrap {
    width: calc(100% + 170px);
    margin: -40px -85px;
    height: auto;
    padding: 40px 20px;
  }

  .static-wrap h5{
    line-height: 1.4;
    font-size: 30px;
  }

  .static-wrap .text-left h5,
  .static-wrap .text-right h5{
    text-align: center !important;
  }

  .static-wrap .text-left p,
  .static-wrap .text-left a,
  .static-wrap .text-right p,
  .static-wrap .text-right a{
    text-align: center !important;
  }

  .static-wrap .text-left li p,
  .static-wrap .text-left li a{
    text-align: left !important;
  }
 
  .negative-text, 
  .negative-text .link-more{
    color: #212529;
  }

  .static-wrap .link-more {
    color: #CF3339;
    text-align: center;
  }

  .static-merchant .link-more {
    color: #0055B8;
    margin-top: 10px;
  }

  .half-half-blue .link-more,
  .half-half-blue-reverse .link-more{
    color: #fff;
  }

  .tel-number p{
    font-size: 24px;
  }
  .tel-number .mini-text{
    font-size: 14px;
  }
  .static-wrap .link-more{
    margin-bottom: 0;
  }
  .tel-number .the-number{
    font-size: 30px;
    padding-left: 50px;
  }
  .global-space{
    display: none;
  }
  .white-layer{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
  }
  .white-layer h5,
  .white-layer p,
  .white-layer .link-more{
    color: #fff;
  }

  .space-on-left img,
  .page-content .space-on-left img{
    max-width: none;
    width: 200%;
    margin-left: -100%;
  }
  .space-on-right img,
  .page-content .space-on-right img{
    max-width: none;
    width: 200%;
  }
  .full-overimage.top-banner .text-on-left-img.text-left{
    padding:40px 100px;
    text-align: center !important;
  }

  .static-wrap .big-icon-content .static-content{
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .half-half-blue{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .still-background,
  .still-background img{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    padding: 0;
  }

  .negative-text .still-background + .static-content ,
  .negative-text .still-background + .static-content .link-more{
    color: #fff;
  }

  .half-half .row .row .static-content.text-on-left-img{
    padding-left: 35px;
  }

  .static-wrap .btn.button-shop-register{
    margin: 0 auto;
    display: block;
    width: 210px;
  }

  .static-content.text-on-left-img.float-up,
  .static-content.text-on-right-img.float-up{
    padding: 40px 100px;
    top: 0;
    right: 0;
  }

  .half-half-black > .row > div:nth-child(1),
  .half-half-blue > .row > div:nth-child(1),
  .half-half-grey > .row > div:nth-child(1),
  .half-half-white > .row > div:nth-child(1),
  .half-half .row > div:nth-child(1),
  .half-overlap-grey .row > div:nth-child(1),
  .static-wrap .order-lg-2{
    padding: 0 15px;
  }

  .static-wrap.half-half-blue .row .tel-number{
    padding: 20px 35px;
  }

  #section-merchant-card-type{
    padding-top: 0;
  }
  section#section-merchant-card-type .list-card-vendors{
    margin: 0 auto;
  }

  section#section-merchant-card-type .list-payment-services{
    margin-top: 10px;
  }

  section#section-merchant-card-type .row:first-child{
    margin-bottom: 20px;
  }

  .half-half .row .row .static-content.text-on-left-img {
    padding-left: 100px;
  }

  .half-half .full-overimage + .full-overimage{
    padding: 0 15px;
  }

  .half-half .full-overimage .space-on-left,
  .half-half .full-overimage .space-on-right{
    overflow: hidden;
  }

  .half-half .full-overimage img{
    margin: -30.37vw 0;
  }

  .half-half .full-overimage .space-on-left img{
    margin-left: -100%;
  }

  .top-banner > .row > div:nth-child(1) img{
    width: 156vw;
    max-width: none;
    margin-left: -56vw;
  }

  .proud-after-logo .btn-flexi-share{
    background: rgba(0,0,0,0.5) url(../img/ico-share-pro-white.png) no-repeat center;
    background-size: 80% auto;
  }

  .proud-after-logo .btn-flexi-share:focus{
    background: #CF3339 url('../img/ico-share-pro-fill.png') no-repeat center;
    background-size: 100% auto;
  }

  .static-wrap .row > .text-left,
  .static-wrap .row > .text-right{
    text-align: center !important;
  }

  .static-wrap .static-content.media-content{
    padding-left: 20px;
    padding-right: 20px;
  }
  .static-wrap .media-content > div{
    padding: 0;
  }
  .static-content .media{
    padding-left: 80px;
    padding-right: 80px;
    display: block;
    text-align: center;
  }
  .static-content .media:before{
    left: 0;
    right: 0;
  }
  .static-content .media img{
    margin: 0 0 20px 0;
    width: 100px;
  }
  #header-card-detail .content-desc{
    margin: 30px 0 0 0;
  }

  #header-card-detail .header-title .btn-flexi-share{
    background: rgba(0,0,0,0.5) url(../img/ico-share-pro-white.png) no-repeat center;
      background-size: 80% auto;
  }

  #header-card-detail .header-title .btn-flexi-share:focus {
    outline: 0;
    background: #CF3339 url(../img/ico-share-pro-fill.png) no-repeat center;
    background-size: 100% auto;
    box-shadow: none;
  }

  .nav.mini .btn-flexi-share + .share-popover{
    top: 50px;
    right: -90px;
  }

  .nav.mini .btn-flexi-share + .share-popover:after{
    border-top: none;
    border-bottom: 8px solid #ECEEED;
    top: -8px;
    bottom: auto;
    right: 98px;
  }

  .static-content.text-left.text-on-left-img{
    padding-left: 100px;
  }

  #header-card-detail a.card-register-center {
    margin: 30px 0 40px 0;
  } 

  .media-content > div:nth-last-child(1) .media:before{
    display: none;
  }

  .proud-loan .proud-after-logo br{
    display: none;
  }

  .blank-grey{
    display: none;
  }

  .left-side{
  }

  .left-side .row .row,
  .right-side .row .row{
    margin: 0;
    padding: 0;
  }

  .left-side .row .row > .col-12{
    padding-left: 0;
    padding-right: 0;
  }

  .right-side{
    left: 0;
    padding-right: 15px;
  }

  .image-over-left img{
    left: 0;
  }

  .tablet-pad-0{
    padding: 0;
  }

  .world-service .static-wrap .static-content{
    padding: 40px 50px;
    left: 0;
  }

  .static-wrap .static-content.margin-in-tablet{
    margin-top: 0;
  }

  .world-service .static-wrap .text-on-center-img{
    padding: 40px 50px;
    position: relative;
  }


  .world-service .still-background,
  .world-service .still-background img{
    position: relative;
  }
  .world-service .static-wrap .text-on-center-img{
    position: absolute;
  }


  .right-side .text-on-center-img{
    left: 0;
    right: 0;
  }

  .world-service > .row > div,
  .world-service > .row > div:nth-child(odd){
    padding-right: 15px;
    padding-left: 120px;
    text-align: left !important;
    justify-content: flex-start;
    top: 0;
    margin-top: 0 !important;
    margin-bottom: 40px;
  }

  

  .connect-dots,
  .world-service > .row > div:nth-child(odd) .connect-dots{
    width: 70px;
    left: -90px;
    right: auto;
  }

  .world-service > .row > div:nth-child(odd) .connect-dots:after{
    left: -18px;
    right: auto;
  }

  .world-service .col-auto{
    max-width: 100%;
  }

  #present-box{
    margin-right: 0 !important;
    margin-left: -20px !important;
  }

  .icon-list{
    margin-top: 30px;
  }


  .space-15{
    display: none;
  }

  .add-bg-tablet img{
    background: #f9f9f9;
  }
  .search-cat-head img {
    margin: 13px 0 -13px 0;
  }
}
